<div class="photo-management ">

  <div class="photo-main" ng-repeat="album in vm.albums">
    <!--<h3 class="text-center font-opensans-light  ">Monday | Aug 1<sup>st</sup>, 2016 | <span> 7 photos </span></h3>-->
    <h3 class="text-center font-opensans-light  ">{{album.newDateFormat}} <span>{{album.photos.length}}</span>
      <span ng-if="album.photos.length>1">Photos</span>
      <span ng-if="album.photos.length===1">Photo</span>
    </h3>
    <!--projects-->
    <div class="photos">
      <!--photo-->
      <photo-directive ng-repeat="photo in album.photos" photo="photo" album-id="album['_id']"></photo-directive>
    </div>
  </div>

</div>