<div class="project-management ">
  <div class="project-main">
    <!--projects-->
    <div class="projects" ng-repeat="p in vm.projectsArray">
      <!--new project-->

      <h3 class="text-center font-opensans-light" ng-if="vm.showOrdered(p.date)">{{p.date}}</h3>
      <div class="project-wrapper">
        <div class="project new-project" ng-if="p.date==='Today'" data-toggle="modal" data-keyboard="true" data-target="#newProject">
          <div class="project-name">New Projects</div>
          <img src="img/plus.png"  alt="" >
        </div>

        <!--project-->
        <span class="projects" ng-repeat="project in vm.projects" ng-if="vm.showProject(p.date, project)">
          <project-directive  project="project"></project-directive>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-include src="'src/layouts/modals/new-project.html'"></ng-include>