<div class="page-category">
    <!-- Hero Div -->
    <div class="hero-div" style="background-image: url('../img/hero-img-1.jpg');" data-original="img/hero-img-1.jpg">
        <div class="overlay"></div>
        <h2 class="font-opensans-bold">{{$root.pageTitle}}</h2>
        <p class="desc">Bring your photos to life with PRINTS</p>
        <button class="btn btn-default font-myriad-bold" ng-click="vm.getStartedClick($root.pageTitle)" ng-if="$root.pageTitle=='PRINTS'">GET STARTED</button>
        <button class="btn btn-default font-myriad-bold" ng-if="$root.pageTitle!='PRINTS'" ng-disabled="true">COMING SOON</button>
    </div>

    <!-- Sections -->
    <div class="sections">
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('productStory')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>PRODUCT STORY</p>
        </div >
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('buildQuality')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>BUILD QUALITY</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('sizeTypePrice')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>SIZE TYPE & PRICE</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('creationExperience')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>CREATION EXPERIENCE</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('delivery')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>DELIVERY</p>
        </div>
    </div>

    <!-- Sections Details -->
    <div class="section-details" id="productStory">
        <h2>Product Story</h2>
        <div class="desc">
            It all starts with a beautiful photograph - one that captures a moment and crystallizes it forever. A print of that photograph allows you to literally hold that special moment and cherish it forever. Our vibrant prints and obsessive attention to detail will always preserve and present your special moments just like the day they were first experienced!
        </div>
        <div class="img">
            <img data-original="/img/category-img-1.png" class="lazy"  src="img/category-img-1.png" alt="">
        </div>
    </div>
    <div class="section-details" id="buildQuality">
        <h2>Build Quality</h2>
        <div class="desc">
            We use the best quality matte finish photo papers to bring your photos to life with saturated colours and pixel perfect detail. Your pictures have never looked this good!
        </div>
        <div class="img">
            <img data-original="/img/category-img-2.png" class="lazy" src="img/category-img-2.png" alt="">
        </div>
    </div>
    <div class="section-details" id="sizeTypePrice">
        <h2>Size Type & Price</h2>
        <div class="desc">
            Keep a memory safe in your wallet or then showcase it on the wall with a gallery size print. We’ve got something for every need starting from only Rs. 25 per print!        </div>
        <div class="img">
            <img data-original="/img/category-img-3.png" class="lazy"  src="img/category-img-3.png" alt="">
        </div>
    </div>
    <div class="section-details" id="creationExperience">
        <h2>Creation Experience</h2>
        <div class="desc">
            It's never been so easy to create professional quality photo products that truly bring your memories back to life! With our easy-to-use creative engine, anyone can go from snap to print in just a few seconds.          </div>
        <div class="img">
            <img data-original="/img/category-img-4.png" class="lazy"  src="img/category-img-4.png" alt="">
        </div>
    </div>
    <div class="section-details" id="delivery">
        <h2>Delivery</h2>
        <div class="desc">
            We have the fastest snap-print-enjoy service in the country. Create something beautiful in minutes and you'll have it at your doorstep in no time!        </div>


        <!--<div class="img">-->
            <!--<img src="img/truck-doodle.png" alt="">-->
        <!--</div>-->
    </div>
    <div class="section-details">

        <div class="img">
            <div class="delivery-animation">
                <div class="animation-wrapper">
                    <div id="building-image"></div>
                </div>
                <div class="car-image">
                    <img src="svg/car-logo.svg" alt="">
                </div>
                <div class="animation-wrapper">
                    <div id="road-image"></div>
                </div>
            </div>
        </div>
    </div>



</div>
<script>

</script>