<div class="page-category">
    <!-- Hero Div -->
    <div class="hero-div" style="background-image: url('../img/hero-img-1.jpg');" data-original="img/hero-img-1.jpg">
        <div class="overlay"></div>
        <h2 class="font-opensans-bold">{{$root.pageTitle}}</h2>
        <p class="desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour,</p>
        <button class="btn btn-default font-myriad-bold">GET STARTED</button>
    </div>

    <!-- Sections -->
    <div class="sections">
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('productStory')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>PRODUCT STORY</p>
        </div >
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('buildQuality')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>BUILD QUALITY</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('sizeTypePrice')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>SIZE TYPE & PRICE</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('creationExperience')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>CREATION EXPERIENCE</p>
        </div>
        <div class="section font-opensans-regular" ng-click="vm.scrollTo('delivery')">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p>DELIVERY</p>
        </div>
    </div>

    <!-- Sections Details -->
    <div class="section-details" id="productStory">
        <h2>Product Story</h2>
        <div class="desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            When an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </div>
        <div class="img">
            <img data-original="/img/category-img-1.png" class="lazy"  src="img/category-img-1.png" alt="">
        </div>
    </div>
    <div class="section-details" id="buildQuality">
        <h2>Build Quality</h2>
        <div class="desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            When an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </div>
        <div class="img">
            <img data-original="/img/category-img-2.png" class="lazy" src="img/category-img-2.png" alt="">
        </div>
    </div>
    <div class="section-details" id="sizeTypePrice">
        <h2>Size Type & Price</h2>
        <div class="desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            When an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </div>
        <div class="img">
            <img data-original="/img/category-img-3.png" class="lazy"  src="img/category-img-3.png" alt="">
        </div>
    </div>
    <div class="section-details" id="creationExperience">
        <h2>Creation Experience</h2>
        <div class="desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            When an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </div>
        <div class="img">
            <img data-original="/img/category-img-4.png" class="lazy"  src="img/category-img-4.png" alt="">
        </div>
    </div>
    <div class="section-details" id="delivery">
        <h2>Delivery</h2>
        <div class="desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            When an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
        </div>


        <!--<div class="img">-->
            <!--<img src="img/truck-doodle.png" alt="">-->
        <!--</div>-->
    </div>
    <div class="section-details">

        <div class="img">
            <div class="delivery-animation">
                <div class="animation-wrapper">
                    <div id="building-image"></div>
                </div>
                <div class="car-image">
                    <img src="svg/car-logo.svg" alt="">
                </div>
                <div class="animation-wrapper">
                    <div id="road-image"></div>
                </div>
            </div>
        </div>
    </div>



</div>
<script>

</script>