// global loader
.global-loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  //background-color: rgba(203, 206, 208, 0.71);
  background-color: rgba(0,0,0, 0.71);
  img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: loader 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: rotate(360deg);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

//// collapse loader
//.collapse-loader{
//  position: absolute;
//  top: 0;
//  left: 0;
//  height: 100%;
//  width: 100%;
//  //background-color: rgba(203, 206, 208, 0.71);
//  background-color: rgba(0,0,0, 0.71);
//  img{
//    position: absolute;
//    width: 100px;
//    height: 100px;
//    top: 50%;
//    left: 50%;
//    margin-top: -50px;
//    margin-left: -50px;
//    animation: loader 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
//    transform: rotate(360deg);
//    backface-visibility: hidden;
//    perspective: 1000px;
//  }
//}



/*
Key Frmaes
*/
// SHAKE
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}
