.home{

  /* Hero Divs */

  .hero-divs{
    margin: 0;
    .col-md-12{
      padding: 0;
    }
    .col-md-4{
      padding: 0;
      position: relative;
      border-top: 6px solid white;
      border-right: 6px solid white;
      &:last-child{
        border-right: 0;
      }
    }
  }

  .hero-div{

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;

    &.top-hero{
      @include aspect-ratio(3408, 1000);
    }

    &.bottom-left-hero{
      margin: 0 0;
      @include aspect-ratio(192, 100);
    }

    &.bottom-center-hero{
      margin: 0 0;
      @include aspect-ratio(192, 100);
    }

    &.bottom-right-hero{
      margin: 0 0;
      @include aspect-ratio(192, 100);
    }

    .overlay{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
    }
    h2, h3{
      color:white;
      position: absolute;
      transform: translate(-50%, -50%);
      top:47%;
      left:50%;
      margin: 0;
    }
    h2{
      font-family: Font_Open_Sans_Regular;
      font-size: 56px;
    }
    h3{
      font-family: Font_Myriad_Pro_Bold;
      font-size: 28px;
      text-align: center;
      transition: all ease 0.8s;
    }
    .button-background{
      position: absolute;
      height: 75px;
      left: 0;
      width: 100%;
      bottom: -75px;
      background-color: rgba(101, 224, 228, 0.75);
      transition: all ease 0.8s;
      text-align: center;
      padding-top: 12px;
    }
    .btn{
      text-transform: uppercase;
      font-size: 20px;
      color: #5fdfe4;
      background-color: white;
      padding: 10px 14px;
      &:hover{
        color: white;
        background-color: #5fdfe4;
        border: 0;
        opacity: 1;
      }
    }

    &:hover .button-background{
      bottom: 0;
    }

    &:hover h3{
      top: calc(47% - 75px);
    }

  }

  .section{
    padding: 96px 0 0;
    h3{
      margin: 0;
      font-family: Font_Open_Sans_Bold;
      font-size: 44px;
    }
    .reasons{
      padding: 94px 78px 0;
      .love-ptt{
        margin: 35px 0;
        padding-left: 50px;
        background-image: url(/img/point.png);
        background-size: 40px;
        background-repeat: no-repeat;
        h6{
          color: #65e0e4;
          font-size: 15px;
          margin-top: 0;
          margin-bottom: 0;
        }
        p{
          font-size: 18px;
          padding-top: 10px;
          margin: 0;
        }
      }

    }
    .testimonials{
      padding: 94px 78px 0;
      .testimonial{
        width: calc(50% - 40px);
        padding: 22px 0 74px;
        float: left;
        position: relative;
        margin: 0 40px 40px 0px;
        //padding: 0;
        background-color: white;
        box-shadow: 0px 0px 1px 2px rgba(239, 243, 246, 1);
        h6{
          color: #65e0e4;
          font-size: 15px;
          margin-top: 0;
          margin-bottom: 0;
        }
        .testimonial-img{
          //padding: 20px 0;
          img{
            height:110px;
          }
        }
        .testimonial-review{
          font-family: Font_Open_Sans_Regular;
          font-size: 17px;
          padding: 17px 22px 13px;
        }
        .testimonial-attestant{
          //padding: 10px 0;
          color: #65e0e4;
          font-size: 14px;
          font-family: Font_Open_Sans_Regular;
          padding-bottom: 4px;
        }
        .testimonial-icon{
          i{
            color: #3b5998;
            font-size: 18px;
          }
        }
      }
      /* .testimonial:nth-of-type(even){

         background-position: 35px 0;
         padding-left: 95px;
       }*/

    }

  }
  .banner{

    background-image: url('/img/home-bottom-banner.jpg');
    background-size: cover;
    height: 309px;
    background-repeat: no-repeat;
    position: relative;
    margin: 47px 0;

    background-attachment: fixed;
    background-position: center;
    .overlay{
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.529);
    }
    .banner-details{
      transform: translate(-50%, -50%);
      top: 43%;
      left: 39%;
      position: absolute;
      max-width: 70%;
      .banner-text{
        color: white;
        font-size: 46px;
        font-family: Font_Open_Sans_Bold;
      }
      .btn{
        color: white;
        background-color: #65e0e4;
        padding: 13px 17px;
        font-family: Font_Myriad_Pro_Bold;
        font-size: 17px;
        border-radius: 5px;
      }
    }
  }
  .newsletter{
    position: relative;
    .newsletter-text{
      margin: 25px 0;
      p{
        margin: 0 0 5px;
        font-family: Font_Open_Sans_Regular;
        text-align: right;
      }
      p:nth-child(1){
        font-size: 17px;
      }
      p:nth-child(2){
        font-size: 11px;
      }
    }
    .newsletter-form{
      margin: 25px 0;
      text-align: left;
      .form-group{
        width: 61%;
        input{
          width:100%;
          height: 46px;
          border: none;
        }

      }
      .btn{
        color: white;
        background-color: #65e0e4;
        padding: 8px 15px;
        font-family: Font_Myriad_Pro_Bold;
        font-size: 17px;
        border-radius: 5px;
      }
    }
  }


  .social-connect{
    color: #9b9b9b;
    background-color: #e7ecf0;
    margin: 50px 0 0;
    padding: 12px 0;
    font-family: Font_Open_Sans_Light;
    p:nth-child(1){
      font-size: 16px;
      /* margin: 5px 0; */
      padding-top: 3px;
    }
    .social-connect-icon{
      a{
        color: #9b9b9b;
        text-decoration: none;
        i{
          text-align: center;
          font-size: 18px;
          padding: 0 5px ;
        }
      }
    }
    p:nth-child(2){
      margin-top: 14px;
      font-size: 12px;
    }
  }

  @media all and (max-width: 991px){
    .hero-divs{
      .hero-div{
        &.top-hero{
          margin: 0 0;
          @include aspect-ratio(192, 100);
          font-size: 28px;
        }
      }
      .col-md-4{
        border-right: 0;
      }
    }
    .newsletter-text{
      p{
        text-align: center !important;
      }
    }
    .newsletter-form{
      text-align: center;
    }
  }

  @media all and (min-width: 1000px){
    .reasons{
      .love-ptt:nth-of-type(even){
        background-position: 35px 0;
        padding-left: 87px;
      }
      .love-ptt:nth-of-type(odd){
        //background-position: 35px 0;
        padding-right: calc(87px - 35px);
      }
    }
  }

  @media all and(max-width: 750px){
    .testimonial{
      width: calc(100% - 40px)!important;
    }
    .form-group{
      width: 100% !important;
    }
  }

}


