/* Main Header */
.main-header{
  height: 80px;
  .navbar{
    margin-bottom: 0;
    height:100%;
    .container-fluid {
      padding: 0;
      margin-left: 13.7vw;
      margin-right: 14vw;
      position: relative;
      .navbar-collapse{
        padding: 0;
        .navbar-left {
          height: 100%;
          -webkit-padding-start: 0;
          li {
            display: initial;
            margin-left: 3px;
            margin-right: 4px;
            i{
              font-size: 19px;
              margin-top: 35px;
              color: #9b9b9b;
            }
          }
        }
        .div-center{
          position: absolute;
          text-align: center;
          width: 100%;
          height: 100%;
          .logo-icon{
            height: 35px;
            margin-top: 11px;
            margin-left: 72px;
          }
          .logo-text{
            height: 49px;
            margin-top: 20px;
          }
        }
        .navbar-right {
          height: 100%;
          margin-right: 0;
          -webkit-padding-start: 0;
          li {
            display: initial;
            margin-right: 18px;
            margin-left: 6px;
            i{
              font-size: 17px;
              border-style: solid;
              border-width: 1px;
              border-color: #e7ecf0;
              border-radius: 50%;
              background-color: #f4f7f9;
              padding: 7px;
              margin-top: 27px;
              padding-left: 7px;
              width: 32px;

            }
            &.user-pic{
              border-style: solid;
              border-width: 1px;
              border-color: #e7ecf0;
              border-radius: 50%;
              background-color: #f4f7f9;
              margin-top: 25px;
              img{
                height: 32px;
              }
            }

            &.help-custom{
              border-style: solid;
              border-width: 1px;
              border-color: #e7ecf0;
              border-radius: 50%;
              background-color: #f4f7f9;
              padding: 4px;
              margin-top: 25px;
              padding-left: 9px;
              width:34px;
              img,svg{
                height: 20px;

              }
            }

            &.cart{
              border-style: solid;
              border-width: 1px;
              border-color: #e7ecf0;
              border-radius: 50%;
              background-color: #f4f7f9;
              padding: 4px;
              margin-top: 25px;
              padding-left: 7px;
              width:34px;
              img,svg{
                height:15px;
              }
            }
          }
        }
      }
    }
  }
}

