.modal {
  .modal-dialog {
    transform: translate(-50%, -50%)!important;
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;

    .modal-content {
      box-shadow: 0px 1px 9.8px 0.2px rgba(0, 0, 0, 0.5);
      border: 1px solid white;

      p{
        color: #012121;
        margin-top: 23px;
        margin-bottom: 10px;
        a {
          color: #012121;
          text-decoration: underline;
        }
        &.modal-text {
          font-size: 19px;
          margin-left: -3px;
        }
      }
      .modal-header {
        text-align: center;
        min-height: 0;
        border-bottom: none;
        margin: 13px 0;
        padding: 0;
        .button-cross {
          position: absolute;
          right: -28px;
          background-color: white;
          padding: 9px;
          opacity: 1;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          color: #9ba1a6;
          font-size: 30px;
          top: 1px;
          padding-bottom: 6px;
          box-shadow: 0px 1px 9.8px -9.8px rgba(0, 0, 0, 0.5);
        }
        &.logo-center {
          img {
            width: 220.5px;
          }
        }
      }

      .modal-body {
        text-align: center;
        padding:0 6.5vw;
        a {
          color: #012121;
          text-decoration: underline;
        }
        form {
          .form-group {
            text-align: left;
            label {
              color: rgb(186, 192, 196);
              font-weight:normal;
              font-size: 22px;
              margin-left: 5px;
              margin-top: 3px;
              margin-bottom: 0;
            }
            input {
              width: 100%;
              margin-bottom: 10px;
              border-width: 1.035px;
              border-color: rgb(204, 204, 204);
              border-style: solid;
              border-radius: 5px;
              background-color: rgb(255, 255, 255);
              height:45px;
            }
          }

          .button-login {
            width: auto;
            background-color: $btn-bkg-color;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 41px;
            margin-top: 10px;
            margin-left: -3px;
            font-size: 18px;
            letter-spacing: 1px;
          }

        }
        .terms-of-services{
          line-height: 1.4;
          padding: 0 2.6vw;
        }
      }

      .modal-footer {
        text-align: center;
        margin: 21px 0;
        padding: 26px;

        &.social-buttons {
          font-size: 24px;
          i{
            padding-right: 15px;
            font-size: 24px;
          }
          .btn {
            padding: 6px 48px;
            color: white;
            font-size: 18px;
          }
          .fb-btn {
            background-color: $fb-btn !important;
          }
          .g-btn {
            background-color: $g-btn;
          }
        }
      }

    }
  }
  &#loginModal {

  }

  &#signupModal{
    .modal-footer{
      padding-bottom: 0;
      .modal-text{
        margin-top: 21px;
        margin-bottom: 0;
      }
    }
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 662px;
    }
  }

}
