.account{
  margin: 0 calc(13.7vw - 85px);
  padding-bottom: 40px;
  h3{
    margin: 81px 0 40px;
    font-size: 48px;
    font-family: Font_Open_Sans_Regular;
    color: #4d4d4d;
    span{
      font-size: 21px;
      color: #60dfe5;
      cursor: pointer;
    }
  }
  h4{
    font-size: 29px;
    margin: 60px 0 48px;
    color: #012121;
    font-family: Font_Open_Sans_Light;
  }
  form{
    margin-bottom: 57px;
    .form-group{
      padding-left: 12px;
      padding-right: 20px;
      label{
        font-family: Font_Open_Sans_Light;
        color: #c2c8cb;
        font-size: 22px;
        margin-bottom: 2px;
      }
      input{
        height: 46px;
        border-width: 1.035px;
        border-color: rgb(204, 204, 204);
        border-style: solid;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
      }
    }
  }
  .btn-general{
    border-radius: 5px;
    font-family: Font_Myriad_Pro_Bold;
    .btn-cancel{
      color: #65e0e4;
      font-size: 17px;
      background-color: white;
      color: #65e0e4;
      margin: 0 21px;
      padding: 9px 37px;

    }
    .btn-save{
      background-color: #65e0e4;
      color: white;
      padding: 9px 48px;
      margin: 0 14px;
      font-size: 17px;


    }
    .btn-cancel:hover {
      opacity: 0.6;
      color: #65e0e4;
    }
  }

  .btn-social-connect{
    margin: 69px 0 124px;
    text-align: center;
    span{
      display: block;
    }

    .btn {
      margin: 20px 19px !important;
      padding: 8px 51px;
      position: relative;
      font-size: 18px;
      width: 211px;
      i{
        margin-right: 21px;
        font-size: 25px;
        margin-left: -16px;
      }
      &:after {
        content: ' ';
        background-color: #cccccc;
        position: absolute;
        top: -8px;
        height: 62px;
        width: 2px;
        right: -22px;
        //margin: 0 -9px;
      }
      &:last-child{
        &:after{
          content: '';
          width: 0;
        }
      }
    }
    span{
      // margin:10px 0;
      //line-height: 1.2;
      font-size: 21px;
      font-family: "Open Sans";
      color: rgb(186, 192, 196);
      line-height: 1.2;
      // text-align: center;
    }
    color: white;
    .btn-fb{
      background-color: #578ee8;
      font-family: Font_Myriad_Pro_Bold;
    }
    .btn-google{
      font-family: Font_Myriad_Pro_Bold;
      background-color: #da4336;
    }
    .btn-flickr{
      font-family: Font_Myriad_Pro_Bold;
      background-color: #ff0094;
      i{
        font-size: 12px;
        margin-left: -20px;
      }
    }
    .btn-instagram{
      font-family: Font_Myriad_Pro_Bold;
      background-color: #2f598a;
    }
  }

  @media all and(max-width: 1384px){
    .btn-social-connect{
      text-align: center;
      span{
        display: block;
      }
      .btn{
        margin: 20px 19px !important;
        &:after {
          content: '';
          width: 0;
        }
      }

    }
  }

}

.account-info{
  margin: 0 calc(13.7vw - 85px);
  h3{
    margin: 81px 0 40px;
    font-size: 48px;
    font-family: Font_Open_Sans_Regular;
    color: #4d4d4d;
    span{
      font-size: 21px;
      color: #60dfe5;
    }
  }
  .row{
    .col-md-6{
      h5{
        color: #65e0e4;
        font-family: Font_Open_Sans_Light;
        font-size: 31px;
        margin: 35px 22px;
      }
      p{
        font-size: 26px;
        color: #bac0c4;
        font-family: Font_Open_Sans_Light;
        font-size: 26px;
        margin: 0;
        text-align: left;
      }
    }
    .btn-add-address{
      color: #65e0e4;
      font-size: 17px;
      background-color: #65e0e4;
      color: white;
      margin: 0 21px;
      padding: 9px 37px;
      margin-top: 20%;
      border-radius: 5px;
      font-family: Font_Myriad_Pro_Bold;


    }
  }

}
