.album-management{
  margin: 0px calc(13.7vw - 61px )!important;
  padding: 40px 0;
  .album-main{
    padding: 36px 0 16px;
    h3{
      font-size: 37px;
      margin: 0;
      color: #4d4d4d;
    }
    .albums{
      margin: 50px 0 50px 0;
      text-align: center;
      .album{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        display: inline-block;
        height:287px;
        width:287px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0,0.18);
        background-color: rgba(249, 249, 249, 0.18);
        margin: 16px;
        .album-details{
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
          background-color: transparent;
          height:55px;
          color: white;
          font-family: Font_Open_Sans_Bold;
          //line-height: 2.6;
          font-size: 18px;
          margin: 0;
          .album-date{
            margin: 0;
          }
         /* .album-delete{
            right: 0;
            bottom: 0;
            position: absolute;
            background: white;
          }*/
          .album-number{
            font-size: 8px;
            font-family: Font_Open_Sans_Bold;
            color:white;
          }
          .album-delete{
            border-style: solid;
            border-width: 1px;
            border-color: #e7ecf0;
            border-radius: 50%;
            background-color: #f4f7f9;
            padding: 4px;
            padding-left: 5px;
            cursor: pointer;
            width: 26px;
            position: absolute;
            right: 4px;
            bottom: 4px;
            height: 26px;
            cursor: pointer;
            img,svg{
              height: 20px;
            }

          }
        }

        .new-album{
          img{
            top: 44%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
}


