/* Sub Header */
.sub-header{
  background-color: #f3f6f8;
  height: 58px;
  .categories{
    display: flex;
    height:100%;
    .category{
      font-size: 22px;
      width: 20%;
      text-align: center;
      position: relative;
      padding: 16px 0px;
      line-height: 1.4;
      color: #585859;
      height:100%;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &.active{
        border-bottom: 2px solid $header-hr-color;
      }
    }
  }
  @media all and (max-width: 1140px) {
    .category {
      font-size: 16px !important;
      line-height: 1.9!important;
    }
  }
  @media all and (max-width: 620px) {
    .category {
      font-size: 11px !important;
      line-height: 2.3 !important;
      padding: 16px 5px !important;
    }
  }

}


