/*USER HEADER*/
/* Sub Header */
.user-header{
  background-color: $theme-light-blue;
  height: 47px;
  .categories{
    display: flex;
    height:100%;
    .category{
      font-size: 18px;
      width: 20%;
      text-align: center;
      position: relative;
      padding: 12px 0px;
      line-height: 1.5;
      color: white;
      height:100%;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      &.active{
        background-color: $white;
        color: $theme-light-blue;
      }
    }
  }
  @media all and (max-width: 1384px) {
    .category {
      font-size: 16px !important;
    }
  }
  @media all and (max-width: 1140px) {
    .category {
      font-size: 12px !important;
      line-height: 1.9!important;
    }
  }
  @media all and (max-width: 620px) {
    .category {
      font-size: 11px !important;
      line-height: 2.3 !important;
      padding: 12px 5px !important;
    }
  }
}



