<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <meta name='url' content='http://pictaktoe.com'>
    <meta name='copyright' content='Pictaktoe'>

    <title ng-bind="$root.pageTitle"></title>
    <!-- build:css styles/libs.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="bower_components/datatables.net-responsive-dt/css/responsive.dataTables.min.css">

    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/css/main.css"/>
    <!-- endbuild -->
</head>

<body class="" ng-cloak>

<!-- Main Header -->
<ng-include src="'src/layouts/mainHeader.html'"></ng-include>

<!-- Sub Header -->
<ng-include src="'src/layouts/subHeader.html'"></ng-include>

<!-- User Header -->
<ng-include src="'src/layouts/userHeader.html'" ng-if="$root.user"></ng-include>

<!-- Global Loader -->
<div class="global-loader" style="z-index: 99999999; display: none;">
    <img src="svg/ptt-loader.svg" alt="Loading...">
</div>

<!-- Page Content -->
<div ui-view></div>

<!-- Footer -->
<ng-include src="'src/layouts/footer.html'" ng-if="$root.footer"></ng-include>

<!-- Modals - Login -->
<ng-include src="'src/layouts/modals/login.html'"></ng-include>

<!-- Modals - Signup -->
<ng-include src="'src/layouts/modals/signup.html'"></ng-include>

<ng-include src="'src/layouts/modals/confirm-cancel-order.html'"></ng-include>

<!-- Alerts -->
<div class="alert alert-dismissible" ng-class="$root.alert.class" role="alert" ng-if="$root.alert.show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{$root.alert.title}}</strong> {{$root.alert.message}}
</div>


</body>


<!-- build:js scripts/libs.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/satellizer/dist/satellizer.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
<script src="bower_components/jquery_lazyload/jquery.scrollstop.js"></script>
<!-- endbuild -->

<!-- build:js scripts/libs2.js -->
<script src="scripts/eventChannel.js"></script>
<script src="scripts/loader.js"></script>
<script src="scripts/dataTable.js"></script>
<script src="scripts/imageLazyLoad.js"></script>
<!-- endbuild -->

<!-- build:js scripts/app.js -->
<!-- Modules -->
<script src="src/core/core.module.js"></script>
<script src="src/core/satellizer.config.js"></script>
<script src="src/common/common.module.js"></script>
<script src="src/layouts/layouts.module.js"></script>
<script src="src/auth/auth.module.js"></script>
<script src="src/account/account.module.js"></script>
<script src="src/components/components.module.js"></script>
<script src="src/app.module.js"></script>

<!-- Configs, Runs, Constants -->
<script src="src/core/restangular.config.js"></script>
<script src="src/core/router.config.js"></script>
<script src="src/core/localStorage.config.js"></script>
<script src="src/core/httpStatus.constant.js"></script>
<script src="src/core/core.contants.js"></script>
<script src="src/common/assets/assets.run.js"></script>
<script src="src/common/events/angularEvents.run.js"></script>
<script src="src/common/events/customEvents.run.js"></script>
<!-- Factories -->
<script src="src/common/alert.factory.js"></script>
<script src="src/common/user.factory.js"></script>
<script src="src/common/rest.factory.js"></script>
<script src="src/common/content.factory.js"></script>
<script src="src/common/orders.factory.js"></script>
<script src="src/common/projects.factory.js"></script>
<script src="src/common/albums.factory.js"></script>
<script src="src/auth/auth.factory.js"></script>
<script src="src/common/tool.factory.js"></script>
<!-- Directives -->
<script src="src/components/album/album.directive.js"></script>
<script src="src/components/photo/photo.directive.js"></script>
<script src="src/components/project/project.directive.js"></script>
<script src="src/components/newsletter/newsletter.directive.js"></script>
<script src="src/components/compareTo.directive.js"></script>
<!-- Controllers -->
<script src="src/layouts/layouts.controller.js"></script>
<script src="src/auth/auth.controller.js"></script>
<script src="src/account/account.controller.js"></script>
<script src="src/account/settings.controller.js"></script>
<script src="src/account/project.controller.js"></script>
<script src="src/account/album.controller.js"></script>
<script src="src/account/photo.controller.js"></script>
<script src="src/account/orders.controller.js"></script>


<!-- endbuild -->

</html>