<div class="album" data-albumid="{{album._id}}">
    <div id="{{album._id}}" class="bg-div" ng-class="{'load-blur-effect': !hideLoader}"  ng-style="{'background-image':'url(' + $root.safeUrlConvert(coverPhoto) + ')'}"></div>
    <img src="svg/ptt-loader.svg" class="directive-loader"  ng-class="{'hide-loader': hideLoader}">
    <div class="album-details">
        <p class="album-date">{{album.name}} {{album.created_at}}</p>
        <p class="album-number">{{album.photos.length}} photos</p>
        <img ng-click="deleteAlbum(album._id)" class="album-delete" src="svg/gray-delete.svg" alt="">
    </div>
</div>