<div class="footer">
    <div class="row margin-general">
        <div class="content-footer col-xs-6 col-sm-6 col-md-3">
            <h3>Help & Support</h3>
            <p>Call 111-000-000</p>
            <p>from 9am-9pm from</p>
            <p>Mon to Sat or write</p>
            <p>to us at</p>
            <p class="footer-email">support@pictaktoe.com</p>
        </div>
        <div class="content-footer col-xs-6 col-sm-6 col-md-2">
            <h3>Customer Care</h3>
            <p class="cursor-pointer" ui-sref="Prints">Prints</p>
            <p class="cursor-pointer" ui-sref="Canvas">Canvas</p>
            <p class="cursor-pointer" ui-sref="Frames">Frames</p>
            <p class="cursor-pointer" ui-sref="Magnets">Magnet Books</p>
        </div>
        <div class="content-footer col-xs-6 col-md-2 col-sm-6">
            <h3>Information</h3>
            <p class="cursor-pointer" ui-sref="TermAndConditions">Terms & Conditions</p>
            <p class="cursor-pointer">About Us</p>
            <p class="cursor-pointer">FAQ</p>
            <p class="cursor-pointer">Contact Us</p>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 content-footer">
            <h3>My Acount</h3>
            <p class="cursor-pointer">My Account</p>
            <p class="cursor-pointer" ui-sref="Account.Orders">Orders</p>
            <p class="cursor-pointer" ui-sref="Account.Settings">Addresses</p>
            <p class="cursor-pointer">Shipping Cart</p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 content-footer">
            <h3>Connect with other</h3>
            <div class="footer-social-connects">
                <a href="https://www.facebook.com/pictaktoe" target="_blank">
                    <i class="fa fa-facebook"  aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/pictaktoe" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/xopictaktoe/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.pinterest.com/pictaktoe/" target="_blank">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
                <a href="https://plus.google.com/u/0/106095845428787839063" target="_blank">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-blue text-center">
        2016 Pictaktoe About Terms Privacy
    </div>
</div>