<div class="home ">

    <div class="section">
        <h3 class="text-center margin-general">Why you'll love Pictaktoe?</h3>
        <div class="row reasons margin-general">
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="text-center margin-general">Why you'll love pictaktoe?</h3>
        <div class="row reasons margin-general">
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
        </div>
    </div>

</div>