<div class="home ">

    <div class="section">
        <h3 class="text-center margin-general reasons-heading">Why you'll love Pictaktoe?</h3>
        <div class="row reasons margin-general">
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="text-center margin-general testimonials-heading">What Customers are saying?</h3>
        <div class="row testimonials margin-general">
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" data-original="img/banner-dc.jpg">
        <div class="overlay"></div>
        <div class="banner-details">
            <p class="banner-text">LOREM IPSUM TEXT GOES HERE</p>
            <button class="btn">GET STARTED</button>
        </div>
    </div>
    
    <div class="newsletter text-center row margin-general">
        <div class="col-md-3 text-center newsletter-text">
            <p class="">Join Our Pretty Newsletter</p>
            <p class="">And Get Dicount offers</p>
        </div>
        <newsletter-directive></newsletter-directive>

    </div>
    
    <div class="social-connect text-center">
        <p>Like US. pin Us. We want to hear from you </p>
        <div class="social-connect-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
        <p>2016 Pictaktoe About Terms Privacy</p>
    </div>

</div>



