<div class="home ">

    <!-- Hero Div -->
    <div class="row hero-divs">
        <div class="col-md-12">
            <div class="hero-div top-hero" style="background-image: url('../img/home-hero-top.jpg');" data-original="img/home-hero-top.jpg">
                <div class="overlay"></div>
                <h2>Bring your photos to live</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-div bottom-left-hero" style="background-image: url('../img/home-hero-bottom-left.jpg');" data-original="img/home-hero-bottom-left.jpg">
                <div class="overlay"></div>
                <h3>FRAME PRINTS</h3>
                <div class="button-background">
                    <button class="btn btn-default font-myriad-bold" ui-sref="Frames">FIND OUT MORE</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-div bottom-center-hero" style="background-image: url('../img/home-hero-bottom-center.jpg');" data-original="img/home-hero-bottom-center.jpg">
                <div class="overlay"></div>
                <h3>PRINTS</h3>
                <div class="button-background">
                    <button class="btn btn-default font-myriad-bold" ui-sref="Prints">FIND OUT MORE</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hero-div bottom-right-hero" style="background-image: url('../img/home-hero-bottom-right.jpg');" data-original="img/home-hero-bottom-right.jpg">
                <div class="overlay"></div>
                <h3>CANVAS</h3>
                <div class="button-background">
                    <button class="btn btn-default font-myriad-bold" ui-sref="Canvas">FIND OUT MORE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h3 class="text-center margin-general reasons-heading">Why you'll love Pictaktoe?</h3>
        <div class="row reasons margin-general">
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Effortless Creation</h6>
                <p class="font-opensans-regular"> It's never been so easy to create professional quality photo products that truly bring your memories back to life! With our easy-to-use creative engine, anyone can go from snap to print in just a few seconds.
                </p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">A Colour For Every Mood</h6>
                <p class="font-opensans-regular"> Explore our library of filters and find the one that's perfect to depict the mood of the moment captured. Each colour tells a story. Which colour will you pick today?
                </p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Love For The Moment
                </h6>
                <p class="font-opensans-regular"> Print it. Frame it. Hang it. We love your photographs as much as you do! Our creative products, vibrant prints, and obsessive attention to detail will always preserve and present your special moments just like the day they were first experienced!</p>
            </div>
            <div class="col-md-6 love-ptt">
                <h6 class="font-opensans-bold">Complete The Story</h6>
                <p class="font-opensans-regular"> Where pictures are your canvas, our stickers help you complete your work of art. Have fun using our custom designed stickers and express yourself freely. Your masterpiece is just a sticker away!
                </p>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="text-center margin-general testimonials-heading">What Customers are saying?</h3>
        <div class="row testimonials margin-general">
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
            <div class=" testimonial">
                <div class="testimonial-img text-center">
                    <img class="img-circle" src="img/user.jpg" alt="">
                </div>
                <div class="testimonial-review text-center">“Once again you all have knocked out of the park!
                    in love with my family Christmas card! Thank You PictakToe!!”</div>
                <div class="testimonial-attestant text-center">Muhammad Kumar</div>
                <div class="testimonial-icon text-center">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="banner" data-original="img/home-bottom-banner.jpg">
        <div class="overlay"></div>
        <div class="banner-details">
            <p class="banner-text">Bring your photos to life with PRINTS</p>
            <button class="btn">GET STARTED</button>
        </div>
    </div>
    
    <div class="newsletter text-center row margin-general">
        <div class="col-md-3 text-center newsletter-text">
            <p class="">Join Our Pretty Newsletter</p>
            <p class="">And Get Dicount offers</p>
        </div>
        <newsletter-directive></newsletter-directive>

    </div>
    
    <div class="social-connect text-center">
        <p>Like US. Pin Us. We want to hear from you </p>
        <div class="social-connect-icon">
            <a href="https://www.facebook.com/pictaktoe" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/pictaktoe" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/xopictaktoe/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.pinterest.com/pictaktoe/" target="_blank">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
            <a href="https://plus.google.com/u/0/106095845428787839063" target="_blank">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </div>
        <p>2016 Pictaktoe About Terms Privacy</p>
    </div>

</div>



