<div class="main-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class=" navbar-left">
                    <li>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>

                    <li>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </li>

                    <li>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>

                    <li>
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </li>

                    <li>
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </li>

                </ul>
                <div class="div-center">
                    <img class="logo-icon" src="/svg/logo-icon.svg" alt="">
                    <img class="logo-text" src="/svg/logo-text.svg" alt="">
                </div>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </li>
                    <li class="user-pic">
                        <img src="/img/user-pic.png" alt="">
                    </li>
                    <li class="help-custom">
                        <img src="/svg/help.svg" alt="">
                    </li>
                    <li class="cart">
                        <img src="/svg/cart.svg" alt="">
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>