<img src="/svg/cart.svg" alt="" class="dropdown-toggle" data-toggle="dropdown">


<ul class="dropdown-menu">

    <li class="triangle"></li>
    <li class="project-info text-left bold"><span class="theme-pink">2 Projects</span> available in your cart</li>
    <li class="project-items">
        <div class="row">
            <img class="col col-sm-4" src="http://placehold.it/500x500">
            <div class="col col-sm-8 text-left project-details">
                <div><span class="bold">Project - Nov 10, 10:45 am</span> <br/>
                    Total: <span class="theme-pink">PKR. 1,450</span></div>
                <button class="btn btn-blue bold">PLACE ORDER</button>
            </div>
        </div>
    </li>
    <li class="project-items">
        <div class="row">
            <img class="col col-sm-4" src="http://placehold.it/500x500">
            <div class="col col-sm-8 text-left project-details">
                <div><span class="bold">Project - Nov 10, 10:45 am</span> <br/>
                    Total: <span class="theme-pink">PKR. 1,450</span></div>
                <button class="btn btn-blue bold">PLACE ORDER</button>
            </div>
        </div>
    </li>
    <li class="project-items">
        <div class="row">
            <img class="col col-sm-4" src="http://placehold.it/500x500">
            <div class="col col-sm-8 text-left project-details">
                <div><span class="bold">Project - Nov 10, 10:45 am</span> <br/>
                    Total: <span class="theme-pink">PKR. 1,450</span></div>
                <button class="btn btn-blue bold">PLACE ORDER</button>
            </div>
        </div>
    </li>
</ul>


