
<!-- Add Project MODAL -->
<div class="modal general-modal modal-custom fade" ng-controller="authCtrl as vm" id="pwdModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header logo-center">
                <h3 class="modal-heading">Forgot Your Password</h3>
                <button type="button" class="close button-cross" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="font-opensans-light" name="pwdForm">
                    <div class="form-group" ng-class="{ 'has-error': pwdForm.email.$touched && pwdForm.email.$invalid }">
                        <input type="email" name="email" ng-model="vm.forget.email" class="email form-control" id="email" placeholder="Email Address.." required>
                        <div class="text-danger" ng-messages="pwdForm.email.$error" ng-if="pwdForm.email.$touched">
                            <p ng-message="required">Email is required</p>
                            <p ng-message="email">Email is invalid</p>
                        </div>
                    </div>
                    <!--<input class="button-login font-myriad-bold" ng-click="vm.forgotEmailSend(vm.forget.email)" data-target="#resetModal"-->
                           <!--data-toggle="modal" data-dismiss="modal" ng-disabled="pwdForm.$invalid" type="submit" ui-sref="Reset" value="Send Link">-->
                    <input class="button-login font-myriad-bold" ng-click="vm.forgotEmailSend(vm.forget.email)" ng-disabled="pwdForm.$invalid" type="submit" value="Send Link">
                </form>
            </div>
        </div>
    </div>
</div>
