<div id="pwdModal" class="modal fade" ng-controller="authCtrl as vm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it by following the link that will be send to you, if the email exists.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <form name="forgotForm" novalidate>
                                            <div class="form-group" ng-class="{ 'has-error': forgotForm.email.$touched && forgotForm.email.$invalid }">
                                                <input class="form-control input-lg" placeholder="Email" name="email" type="email" ng-model="vm.forget.email" required>
                                                <div class="text-danger" ng-messages="forgotForm.email.$error" ng-if="forgotForm.email.$touched">
                                                    <p ng-message="email">Email is invalid</p>
                                                    <p ng-message="required">Email is required</p>
                                                </div>
                                            </div>
                                            <input class="btn btn-lg btn-primary btn-block" value="Send Link" type="submit" ng-disabled="forgotForm.$invalid" ng-click="vm.forgotEmailSend(vm.forget.email);">
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>