
<!-- Add Project MODAL -->
<div class="modal modal-custom fade" id="newProject" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header logo-center">
                <h3 class="modal-heading">ADD A PROJECT</h3>
                <button type="button" class="close button-cross" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="font-opensans-light" name="newProject">
                    <div class="form-group" ng-class="{ 'has-error': newProject.name.$touched && newProject.name.$invalid }">
                        <label for="name">Name</label>
                        <input type="text" name="name" ng-model="vm.newProject.name" class="name form-control" id="name" required>
                        <div class="text-danger" ng-messages="newProject.name.$error" ng-if="newProject.name.$touched">
                            <p ng-message="required">Project name is required</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newProject.type.$touched && newProject.type.$invalid }">
                        <label for="type">Type</label>
                        <select name="type" ng-model="vm.newProject.type" class="type form-control" id="type" required>
                            <option value="Prints">Prints</option>
                            <option value="Frame Prints">Frame Prints</option>
                            <option value="Canvas Prints">Canvas Prints</option>
                            <option value="Photobooks">Photobooks</option>
                            <option value="Magnets">Magnets</option>
                        </select>
                        <!--<input type="text" name="type" ng-model="vm.newProject.type" class="type form-control" id="type" required>-->
                        <div class="text-danger" ng-messages="newProject.type.$error" ng-if="newProject.type.$touched">
                            <p ng-message="required">Project type is required</p>
                        </div>
                    </div>
                    <input class="button-login font-myriad-bold" ng-click="vm.createProject(vm.newProject)" data-dismiss="modal" ng-disabled="newProject.$invalid" type="submit" value="ADD PROJECT">
                </form>
            </div>
        </div>
    </div>
</div>