<!-- Add Project MODAL -->
<div class="modal modal-custom fade general-modal" id="newsletterSubscribeModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header logo-center">
                <h3 class="modal-heading">You have been successfully subscribed!</h3>
                <button type="button" class="close button-cross" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-confirm font-myriad-bold" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>