<div class="col-md-9 newsletter-form">

    <form class="form-inline text-center" name="newsletterForm">
        <div class="form-group ">
            <input type="email" class="form-control" ng-model="email" id="exampleInputEmail2" placeholder="Email" required>
        </div>
        <button class="btn" ng-disabled="newsletterForm.$invalid" ng-click="subscribe(email)" type="submit">SUBSCRIBE</button>
    </form>

    <ng-include src="'src/layouts/modals/newsletter-subscribe.html'"></ng-include>

</div>
