@import 'partials/base/globals';
@import 'partials/base/typography';
@import 'partials/others/others';
@import 'partials/main-header';
@import 'partials/sub-header';
@import 'partials/user-header';
@import 'partials/footer';
@import 'partials/modals';
@import 'partials/page-category';